@font-face{
    font-family: CustomFont; /* font name */
    src: url(fonts/customfont.ttf); /* font file path */
}
html, body{
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	margin: 0;
	color: #333;
	font-size: 100%;
}
/* BASIC CLASSES STYLE */
.nopadding{
	padding: 0;
}
.noline, .no-active-line:active, .no-hover-line:hover,	/*no underlining specials*/
.no-line-full, .no-line-full:active, .no-line-full:hover	/*no underlining at all*/
{
	text-decoration: none;
}
.fullheight{
	height: 100%;
	min-height: 100%;
}
/* BASIC CLASSES STYLE END */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* BASIC HEADER STYLE */
header{

}
/* BASIC HEADER STYLE END */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* BASIC PAGE STYLE */
#page{

}
.bar-toggle, .field-list{
	font-size: 75%;
	color: rgb(51, 122, 183);
	margin-bottom: 10px;
	cursor: pointer;
}
.field-list{
	padding: 15px 0 0 15px;
}
.fields-list-select{
	height: auto;
	width: 100%;
}
.fields-list-select label{
	float: left;
	clear: both;
	width: 100%;
}
.table-buttons{
	padding: 10px 0;
}
.filter-bar h4{
	clear: both;
}
.filter-bar label{
	float: left;
	clear: both;
	width: 100%;
}
.filter-bar select{
	margin: 5px 0;
	width: 100%;
}
.filter-bar input{
	float: right;
	clear: both;
	width: 100%;
	margin: 5px 0;
}
.filter-bar input.datepicker{
	width: 49%;
	float: left;
	clear: none;
}
.filter-bar input.datepicker.end-date{
	float: right;
}
.buttons-panel{
	padding-top: 15px;
}
/* BASIC PAGE STYLE END */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* BASIC FOOTER STYLE */
footer{

}
/* BASIC FOOTER STYLE END */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* ADDITIONAL (SPESIAL) CLASSES FOR PAGES */

.form-accept-check{
	padding-left: 18px;
	margin-top: -3px;
	margin-bottom: -3px;
}

.map-patient-body{
	min-height: 440px;
	overflow-y: auto;
}

.hide_block{
	display: none;
}

