<form action="{% url 'new_record' %}" method="POST" id="form_new_rec">
	{% csrf_token %}
	<input type="hidden" id="id-patient" data-id-patient="">
	<div class="form-group">
		<div class="row">
			<div class="col-lg-12">
				<label>Вид обследования</label>
				<div class="form-group">
					<select name="type-survay" id="type-survay" class="form-control" onchange="SetTypeSurvay()">
						<option value="0" selected="selected">выбор вида обследования</option>
						{% for type_s in type_survay %}
							<option value="{{type_s.id}}">{{type_s.caption}}</option>
						{% endfor %}
					</select>
				</div>
				<label><span id="processing-survay" class="hide_block"><i class="fa fa-refresh fa-spin fa-1x fa-fw"></i></span>Обследование</label>
				<div class="form-group">
					<select name="survay" id="select-survay" class="form-control" onchange="CheckSurvay()">
						<option value="0">выбор обследования</option>
					</select>
				</div>
				<label>Диагноз</label>
				<div class="form-group">
					<select name="diagn" class="form-control">
						<option value="0" selected="selected">выбор диагноза</option>
						{% for diagn in diagn_list %}
							<option value="{{diagn.id}}">{{diagn.code}} - {{diagn.about}}</option>
						{% endfor %}
					</select>
				</div>
				<label>Описание</label>
				<div class="form-group">
					<textarea class="form-control" name="about-rec" rows="2" placeholder="Краткое обоснование для направления на обследование. Обязательно к заполнению, требуется для анализа"></textarea>
				</div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="row">
			<div class="col-lg-12">
				<div class="checkbox form-accept-check">
					<input type="checkbox" name="promptly-rec" value="true">Срочно! в связи с операцией!
				</div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="row">
			<div class="col-lg-12">
				<button class="btn btn-default" type="button" onclick="NewRecord()">Записать в лист ожидания</button>
			</div>
		</div>
	</div>			
</form>
