{% load static from staticfiles %}

<div class="panel panel-warning">
	<div class="panel-heading">
		<i class="fa fa-exclamation"></i>
		Регистрация нового пациента
	</div>
	<div class="panel-body">
		<form action="{% url 'new_patient' %}" method="POST" name="form_new_patient" >
			{% csrf_token%}
			<div class="form-group">
				<div class="row">
					<div class="col-lg-12">
						<label>Фамилия Имя Отчество</label>
						<input type="text" class="form-control" name="fio" placeholder="Иванов Иван Иванович">
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="row">
					<div class="col-lg-2">
						<label>Паспорт</label>
						<input type="text" class="form-control" name="passport" placeholder="0000 000000">
					</div>
					<div class="col-lg-2">
						<label>Д. рождения</label>
						<input type="date" class="form-control" name="birthday" >
					</div>
					<div class="col-lg-8">
						<label>Адрес</label>
						<input type="text" class="form-control" name="address" placeholder="г. Красноярск, ул. ..., д. ...">
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="row">
					<div class="col-lg-4">
						<label>Контактный номер</label>
						<input type="number" class="form-control" name="kontakt" placeholder="89992700685">
					</div>
					<div class="col-lg-4">
						<label>Электронный адрес</label>
						<input type="email" class="form-control" name="email" placeholder="example@me.com">
					</div>
					<div class="col-lg-4">
						<label>Номер ОМС</label>
						<input type="text" class="form-control" name="oms" placeholder="000000000000000" id="input-oms">
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="row">
					<div class="col-lg-12">
						<div class="checkbox form-accept-check">
							<input type="checkbox" name="allow_newsletter" value="yes">Разрешить отправку уведомлений по электронной почте
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="row">
					<div class="col-lg-12">
						<button class="btn btn-default" type="button" onclick="RegNewPatient()">Зарегистрировать пациента</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>