<div class="modal fade" id="toMedHome" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Утверждение направления</h4>
            </div>
            <div class="modal-body">
            	<!-- 
            	<div class="row">
            		<div class="col-sm-12">
	            		<p id="patient-name"></p>
            		</div>
            	</div>
            -->
            	<div class="row">
            		<div class="col-sm-12">
            			<label><span id="patient-name"></span> (<span id="survay-name"></span>)</label>
	            		<blockquote>
	            			<p id="justification-text"></p>
	            		</blockquote>
	            	</div>
            	</div>
                <div class="row">
                    <div class="col-md-12">
                        <form method="POST" action="{% url 'aprove_record' %}" name="forma_aprove">
                            {% csrf_token %}
                            <input type="hidden" id="record-id" data-record-id="">
                            <div class="row" style="padding-bottom:5px;">
                                <div class="col-md-4">
                                    <label>Дата:</label>
                                    <input type="date" name="date_rec">
                                </div>
                                <div class="col-md-4">
                                    <label>Время:</label>
                                    <input type="time" name="time_rec">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10">
                                    <select name="medhome" id="medhome-list-aprove" class="form-control"></select>
                                </div>
                                <div class="col-md-2">
                                    <span id="count-quot"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="text-muted" id="address-medhome-aprove"></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" title="успешный звонок"  data-dismiss="modal"><i class="fa fa-phone"></i></button>
                <button type="button" class="btn btn-default" data-dismiss="modal" id="close-change-patient">Закрыть</button>
                <button type="button" class="btn btn-primary" onclick="ApprovRecord()">Сохранить изменения</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>