{% extends 'base.html' %}
{% load static from staticfiles %}

{% block 'additional_js' %}
	<script type="text/javascript" src="{% static 'js/rec_patient.js' %}"></script>
{% endblock %}

{% block 'content' %}
{% csrf_token %}
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Запись пациента</h1>
  </div>
</div>
<div class="row">
	<div class="form-group input-group">
		<input type="text" class="form-control" name="find-oms" placeholder="Поиск пациента по номеру полиса ОМС">
		<span class="input-group-btn"><button class="btn btn-default" type="button" onclick="FindPatient('{% url 'find_patient' %}')"><i class="fa fa-search"></i></button></span>
	</div>
	<div class="form-group hide_block" id="choice-patient">
		<label>По вашему запосу найдены несколько пациентов, выберите одного или зарегистрируйте нового</label>
		<input type="hidden" id ="url-get-patient" data-url="{% url 'current_patient' %}" data-url-survay-list="{% url 'survay_list' %}" data-url-check-survay="{% url 'check_survay' %}" data-patient="" data-url-record-info="{% url 'record_full_info' %}">
		<ul class="list-unstyled" id="list-choice-patient">
			<li><a href="javascript://" onclick="ViewRegPatient()">Зарегистрировать нового пациента</a></li>
		</ul>
	</div>
</div>
<div class="row hide_block" id="create-new-patient">
	{% include 'ext_html/_new_patient.html' %}
</div>
<div class="row hide_block" id="new-record-patient">
	<div class="panel panel-default">
		<div class="panel-heading">
			<i class="fa fa-list-alt"></i>
			Карточка пациента
			<div class="pull-right">
				<div class="btn-group">
					<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
		              Действия
		              <span class="caret"></span>
		            </button>
		            <ul class="dropdown-menu pull-right" role="menu">
		              <li><a href="javascript://" data-target="#mapPatient" data-toggle="modal">Изменить данные пациента</a>
		              </li>
		            </ul>
				</div>
			</div>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<p class="form-control-static">
							<span id="patient-name">Фамилия Имя Отчество</span>
						</p>
						<p class="form-control-static">
							Паспортные данные: <span id="patient-passport">0254 987546</span>
						</p>
						<p class="form-control-static">
							Номер телефона: <span id="patient-kontakt">8(923)270-06-85</span>
							&nbsp;&nbsp;&nbsp;e-mail: <span id="patient-email">aantarium@gmail.com</span>
						</p>
						<p class="form-control-static">
							Адрес: <span id="patient-address">Красноярск, ул. партизана железняка, 19</span>
						</p>
						<p class="form-control-static">
							Разрешение на рассылку: <span id="patient-allow-newsletter">есть</span>
						</p>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-5">
					<div class="panel panel-default">
						<div class="panel-heading">
							<i class="fa fa-pencil"></i>
							Запись в лист ожидания
						</div>
						<div class="panel-body">
							{% include 'ext_html/_new_record.html' %}
						</div>
					</div>
				</div>
				<div class="col-md-7">
					<div class="panel panel-default">
						<div class="panel-heading">
							<i class="fa fa-archive"></i>
							<span id="label-survay">Направления</span>

							<div class="pull-right">
								<div class="btn-group">
						        	<a href="#" class="dropdown-toggle no-line-full" data-toggle="dropdown"><i class="fa fa-filter"></i>Фильтр <span class="caret"></span>
						        	</a>
						            <ul class="dropdown-menu pull-right" role="menu" data-actual-filter="all" id="actual-filter" data-filter-url="{% url 'record_filter' %}">
						              <li><a href="javascript://" onclick="SetFilter('opened')">Открытые направления</a>
						              </li>
						              <li><a href="javascript://" onclick="SetFilter('closed')">Закрытые направления</a>
						              </li>
						              <li><a href="javascript://" onclick="SetFilter('all')">Все направления</a>
						              </li>
						            </ul>
								</div>
							</div>
						</div>
						<div class="panel-body map-patient-body">
							<div class="table-responsive">
								<table class="table">
									<tbody id="body-table-records"></tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="recInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Запись на обследование</h4>
            </div>
            <div class="modal-body">
            	<div class="row">
            		<div class="col-md-8">
	               		<span id="rec-survay"></span>	
	                </div>
	            	<div class="col-md-4">
	               		<span id="rec-created_at"></span>	
	                </div>
                </div>
            	<table>
            		<tr>
            			<td>
            				Доктор:
            			</td>
            			<td>
            				<span id="rec-doctor"></span>
            			</td>
            		</tr>
            		<tr>
            			<td>
            				Диагноз:
            			</td>
            			<td>
            				<span id="rec-diagn"></span>
            			</td>
            		</tr>
            		<tr>
            			<td>
            				Обоснование:
            			</td>
            			<td>
            				<span id="rec-about"></span>
            			</td>
            		</tr>
            		<tr>
            			<td>
            				Статус:
            			</td>
            			<td>
            				<span id="rec-status"></span>
            			</td>
            		</tr>
            		<tr>
            			<td>
            				Дата и время записи:
            			</td>
            			<td>
            				<span id="rec-daterec"></span> &nbsp; <span id="rec-timerec"></span>
            			</td>
            		</tr>
            		<tr>
            			<td>
            				Мед. учреждение:
            			</td>
            			<td>
            				<span id="rec-medhome"></span>
            			</td>
            		</tr>
            		<tr>
            			<td>
            				Уведомление пациента:
            			</td>
            			<td>
            				<span id="rec-notice_call"></span> &nbsp; <span id="rec-notice_email"></span>
            			</td>
            		</tr>
            	</table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="mapPatient" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Данные пациента</h4>
            </div>
            <div class="modal-body">
            	<form action="{% url 'change_patient' %}" method="POST" name="form_change_patient">
            		{% csrf_token %}
            		<input type="hidden" name="patient_id" id="change-patient-id">
            		<div class="form-group">
						<div class="row">
							<div class="col-lg-6">
								<label>Фамилия</label>
								<input type="text" class="form-control" name="sur_name" placeholder="Иванов" id="change-patient-surname">
							</div>
							<div class="col-lg-6">
								<label>Имя</label>
								<input type="text" class="form-control" name="name" placeholder="Иван" id="change-patient-name">
							</div>
						</div>
						<div class="row">
							<div class="col-lg-6">
								<label>Отчество</label>
								<input type="text" class="form-control" name="last_name" placeholder="Иванович" id="change-patient-lastname">
							</div>
							<div class="col-lg-6">
								<label>Паспорт</label>
								<input type="text" class="form-control" name="passport" placeholder="0000 000000" id="change-patient-passport">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-lg-12">
								<label>Адрес</label>
								<input type="text" class="form-control" name="address" placeholder="г. Красноярск, ул. ..., д. ..." id="change-patient-address">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-lg-4">
								<label>Контактный номер</label>
								<input type="number" class="form-control" name="kontakt" placeholder="89992700685" id="change-patient-kontakt">
							</div>
							<div class="col-lg-4">
								<label>Электронный адрес</label>
								<input type="email" class="form-control" name="email" placeholder="example@me.com" id="change-patient-email">
							</div>
							<div class="col-lg-4">
								<label>Номер ОМС</label>
								<input type="text" class="form-control" name="oms" placeholder="000000000000000" id="change-patient-oms">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-lg-12">
								<div class="checkbox form-accept-check">
									<input type="checkbox" name="allow_newsletter" value="yes">Разрешить отправку уведомлений по электронной почте
								</div>
							</div>
						</div>
					</div>
            	</form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="close-change-patient">Закрыть</button>
                <button type="button" class="btn btn-primary" onclick="ChangePatient()">Сохранить изменения</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
{% endblock %}