{% extends 'base.html' %}
{% load static from staticfiles %}

{% block 'additional_css' %}
	<link href="{% static 'css/all_records.css'%}" rel="stylesheet">
{% endblock %}

{% block 'content' %}

<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Направления на обследования</h1>
  </div>
</div>
<div class="row">
	<div class="col-xs-12">		
		<div class="col-xs-3 bar-toggle nopadding" title="Свернуть панель">свернуть/развернуть панель фильтра</div>	
	</div>
	<div class="col-xs-3 panel panel-default filter-bar">
		<form method="POST" action="{% url 'filtering_records' %}" id="forma_set_filter_records">
			{% csrf_token %}
			<input type="hidden" id="url-get-patient" data-url-survay-list="{% url 'survay_list' %}">
			<h4 class="panel-heading">Обследование</h4>
			<label>Вид обследования</label>
			<div class="form-group">
				<select name="type-survay" id="type-survay" class="form-control" onchange="SetTypeSurvay()">
					<option value="0" selected="selected">выбор вида обследования</option>
					{% for type_s in type_survay %}
						<option value="{{type_s.id}}">{{type_s.caption}}</option>
					{% endfor %}
				</select>
			</div>
			<label><span id="processing-survay" class="hide_block"><i class="fa fa-refresh fa-spin fa-1x fa-fw"></i></span>Обследование</label>
			<div class="form-group">
				<select name="survay" id="select-survay" class="form-control">
					<option value="">выбор обследования</option>
				</select>
			</div>
			<label>Диагноз</label>
			<div class="form-group">
				<select name="diagn" class="form-control">
					<option value="" selected="selected">выбор диагноза</option>
					{% for diagn in diagn_list %}
						<option value="{{diagn.id}}">{{diagn.code}} - {{diagn.about}}</option>
					{% endfor %}
				</select>
			</div>
			<h4 class="panel-heading">Статус</h4>
			<select name="status-records" class="form-control">
				<option selected="true">Не учитывать</option>
				<option value="0">Ожидание</option>
				<option value="1">Направлен</option>
				<option value="2">Обследование пройдено</option>
			</select>
			<h4 class="panel-heading">Направление</h4>
			<select class="form-control" name="type-date">
				<option value="выдача">Дата выдачи направления</option>
				<option value="обследование">Дата обследования</option>
			</select>
			<input type="text" class="datepicker" name="date-start" placeholder="От">
			<input type="text" class="datepicker end-date" name="date-end" placeholder="До">
			<h4 class="panel-heading">Учреждение</h4>
			<select name="medhome" id="medhome" class="form-control" onchange="SetTypeSurvay()">
				<option value="" selected="selected">выбор учреждения</option>
				
				<!-- ПРОПИСАТЬ ЗАПОЛНЕНИЕ СПИСКА УЧРЕЖДЕНИЙ -->
			</select>
		</form>
		<div class="panel buttons-panel">
			<button class="btn btn-warning">Сбросить фильтр</button>
			<button class="btn btn-success pull-right" onclick="SetFilter()">Применить</button>
		</div>
	</div>
	<div class="col-xs-9 panel panel-default" id="table-panel">
		<div class="col-xs-6 table-buttons">
			<div class="form-group input-group">
				<input type="text" class="form-control" name="find-patient" id="find-patient" placeholder="Поиск обследований по пациенту">
				<span class="input-group-btn">
					<button class="btn btn-default" onclick="SearchPatient()"><i class="fa fa-search"></i></button>
				</span>
			</div>
		</div>
		<div class="col-xs-3 table-buttons">
			<div id="change-status-panel" class="hide_block">
				<button class="btn btn-default pull-right" title="звонок"><i class="fa fa-phone"></i></button>
				<button class="btn btn-default pull-right" title="неявка"><i class="fa fa-bell-o"></i></button>
				<button class="btn btn-default pull-right" title="отказано"><i class="fa fa-times"></i></button>
				<button class="btn btn-default pull-right" title="пройдено"><i class="fa fa-check"></i></button>
			</div>
		</div>
		<div class="col-xs-3 table-buttons">
			<button class="btn btn-default pull-right" id="fields-button" title="Выбрать отображаемые поля"><i class="fa fa-th-list"></i></button>
			<button class="btn btn-success pull-right" title="Экспорт в XLS"><i class="fa fa-file-excel-o"></i></button>
		</div>
		<div class="col-xs-12 table-responsive nopadding" id="body-table-records" data-url-aprove="{% url 'medhome_list' %}">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>
							-
						</th>
	            		<th>
	            			ФИО
	            		</th>
	            		<th>
	            			Обследование
	            		</th>
	            		<th>
	            			Диагноз
	           			</th>
	           			<th>
	           				Доктор
	           			</th>
	           			<th>
	           				Дата заявки
	           			</th>
	           			<th>
	           				Статус
	           			</th>
	           			<th>
	           				Дата обслед.
	           			</th>
	           			<th>
	           				Время обслед.
	           			</th>
	           			<th>
	           				Звонок
	           			</th>
	           			<th>
	           				E-mail
	           			</th>
	           			<th>
	           				Срочно
	           			</th>
	           			<th>
	           				Дата обработки
	           			</th>
	            	</tr>
				</thead>
	        	<tbody id="table-all-records">
	        		{% for rec in records_list %}
		        		<tr class="{{rec.get_style}}" id="record-{{rec.id}}">
		        			<td>
		        				<div class="checkbox">
		        					<label>
		        						{% if rec.status == 0 %}
		        							<input type="checkbox" name="checkbox-record" value="{{rec.id}}" onchange="ChoiceRecord()">
		        						{% elif rec.status == 1 %}
		        							<input type="checkbox" name="checkbox-record" value="{{rec.id}}" onchange="ChoiceRecord()">
		        						{% else %}
		        							<input type="checkbox" name="checkbox-record" value="{{rec.id}}" disabled="" onchange="ChoiceRecord()">
										{% endif %}
		        					</label>
		        				</div>
		        			</td>
		        			<td id="patient-{{rec.id}}">
		        				{{rec.patient.sur_name}} {{rec.patient.name}} {{rec.patient.last_name}}
		        			</td>
		        			<td id="survay-{{rec.id}}">{{rec.survay.group}} {{rec.survay.name}}</td>
		        			<td>{{rec.diagn.code}}</td>
		        			<td>{{rec.doctor.name}}</td>
		        			<td>{{rec.created_at}}</td>
		        			<td>
		        				{% if rec.status == 0 %}
		        					<a href="javascript://" title="утвердить направление" data-target="#toMedHome" data-toggle="modal" id="send-to-medhome-{{rec.id}}" onclick="DialogSendToHome({{rec.id}})">{{rec.get_status}}</a>
		        				{% else %}
		        					{{rec.get_status}}
		        				{% endif %}
		        				<textarea class="hide_block" id="justification-{{rec.id}}">{{rec.justification}}</textarea>
		        			</td>
		        			<td>
		        				{% if rec.date_rec %}
		        					{{rec.date_rec}}
		        				{% else %}
		        					-
		        				{% endif %}
		        			</td>
		        			<td>
		        				{% if rec.time_rec %}
		        					{{rec.time_rec}}
		        				{% else %}
		        					-
		        				{% endif %}
		        			</td>
		        			<td>{{rec.notice_call}}</td>
		        			<td>{{rec.notice_email}}</td>
		        			<td>{{rec.urgent}}</td>
		        			<td>{{rec.last_action}}</td>
		        		</tr>
		        	{% endfor %}
	        	</tbody>
			</table>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="dataTables_paginate paging_simple_numbers">
					<ul class="pagination" id="block-pagination">
						{% if page_obj.has_previous %}
							<li id="link-previous" class="paginate_button previous"><a href="javascript://" onclick="CurrentPage({{page_obj.previous_page_number}})">Предыдущая</a></li>
						{% else %}
							<li id="link-previous" class="paginate_button previous disabled"><a href="javascript://">Предыдущая</a></li>
						{% endif %}

						{% for num in page_numbers %}
							{% if num == page_obj.number%}
								<li class="paginate_button active"><a href="javascript://" onclick="CurrentPage({{num}})">{{num}}</a></li>
							{% else %}
								<li class="paginate_button"><a href="javascript://" onclick="CurrentPage({{num}})">{{num}}</a></li>
							{% endif %}
						{% endfor %}

						{% if page_obj.has_next %}
							<li id="link-next" class="paginate_button next"><a href="javascript://" onclick="CurrentPage({{page_obj.next_page_number}})">Следующая</a></li>
						{% else %}
							<li id="link-next" class="paginate_button next disabled"><a href="javascript://">Следующая</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

{% include 'ext_html/_to_medhome.html' %}

<div id="dialog-form" title="Отображаемые поля" hidden>
    <p class="validateTips">Выберите поля для отображения.</p> 
    <form>
	    <fieldset class="fields-list-select">
	    	<label>
	    		<input type="checkbox" name="fio">
	    		ФИО
	    	</label>
	    	<label>
	    		<input type="checkbox" name="fio">
	    		Обследование
	    	</label>
	    	<label>
		    	<input type="checkbox" name="fio">Диагноз
		    </label>
		    <label>
		    	<input type="checkbox" name="fio">Доктор
		    </label>
		    <label>
		    	<input type="checkbox" name="fio">Дата заявки
		    </label>
		    <label>
		    	<input type="checkbox" name="fio">Статус
		    </label>
		    <label>
		    	<input type="checkbox" name="fio">Дата обследования
		    </label>
		    <label>
		    	<input type="checkbox" name="fio">Время обследования
		    </label>
		    <label>
		    	<input type="checkbox" name="fio">Звонок
		    </label>
		    <label>
		    	<input type="checkbox" name="fio">E-mail
		    </label>
		    <label>
		    	<input type="checkbox" name="fio">Срочно
		    </label>
		    <label>
		    	<input type="checkbox" name="fio">Дата обработки
		    </label>
	    </fieldset>
	    <button class="btn btn-default">Применить</button>
    </form>
</div>
{% endblock %}

{% block 'additional_js' %}
	<script type="text/javascript" src="{% static 'js/rec_patient.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/all_records.js' %}"></script>
{% endblock %}

