{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Внешняя параклиника</title>
    <!-- BOOTSTRAP CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap-theme.min.css'%}" rel="stylesheet">
    <!-- JQUERY UI CSS -->
    <link href="{% static 'jquery-ui-overcast/jquery-ui.min.css'%}" rel="stylesheet">
    <link href="{% static 'jquery-ui-overcast/jquery-ui.structure.min.css'%}" rel="stylesheet">
    <link href="{% static 'jquery-ui-overcast/jquery-ui.theme.min.css'%}" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="{% static 'sb-admin-2/vendor/metisMenu/metisMenu.min.css'%}" rel="stylesheet">
    <!-- SB ADMIN (bootstrap theme) CSS -->
    <link href="{% static 'sb-admin-2/dist/css/sb-admin-2.css'%}" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="{% static 'sb-admin-2/vendor/morrisjs/morris.css'%}" rel="stylesheet">
    <!-- FONT AWESOME CSS -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css'%}" rel="stylesheet" type="text/css">
    <!-- MAIN CSS -->
    <link href="{% static 'css/main.css'%}" rel="stylesheet">
    {% block 'additional_css' %}
    {% endblock %}
</head>
<body>
  <div id="wrapper">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <img src="" class="img-circle pull-left logo-img" >
              <a class="navbar-brand" href="{% url 'index' %}"> Параклиника</a>
          </div>
          <!-- /.navbar-header -->

          <ul class="nav navbar-top-links navbar-right">
              <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      <i class="fa fa-user fa-fw"></i>{{request.user.username}} <i class="fa fa-caret-down"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-user">
                      <li><a href="{% url 'profile' %}"><i class="fa fa-user fa-fw"></i> Профиль</a>
                      </li>
                      <li class="divider"></li>
                      <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out fa-fw"></i> Выход</a>
                      </li>
                  </ul>
                  <!-- /.dropdown-user -->
              </li>
              <!-- /.dropdown -->
          </ul>
          <!-- /.navbar-top-links -->

          <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                      <!--
                        <li class="active">
                            <a href=""><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Личный кабинет</a>
                        </li>
                        <li>
                            <a href=""><i class="fa fa-database"></i> Все модели</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-comments-o"></i> BrainToChat</a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href=""><i class="fa fa-graduation-cap"></i> Обучение</a>
                                </li>
                                <li>
                                    <a href=""><i class="fa fa-book"></i> Тестирование</a>
                                </li>
                                <li>
                                    <a href=""><i class="fa fa-handshake-o"></i> АПИ</a>
                                </li>
                            </ul>
                        </li>
                      -->
                      {% for section in nav_panel %}
                        <li>
                            <a href="#"><i class="{{section.icon}}"></i> {{section.group}}</a>
                            <ul class="nav nav-second-level">
                              {% for page in section.pages %}
                                <li>
                                    <a href="{{page.url}}"><i class="{{page.icon}}"></i> {{page.caption}} </a>
                                </li>
                              {% endfor %}
                            </ul>
                        </li>
                      {% endfor %}
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->

    </nav>
  </div>
  <div id="page-wrapper">
    <div class="container-fluid">
      {% block 'content' %}
      {% endblock %}
    </div>
  </div>

  <!-- JQUERY JS -->
  <script src="{% static 'js/jquery.min.js'%}"></script>
  <!-- BOOTSTRAP JS -->
  <script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
  <!-- JQUERY UI JS -->
  <script src="{% static 'jquery-ui-overcast/jquery-ui.min.js'%}"></script>
  <!-- Metis Menu Plugin JavaScript -->
  <script src="{% static 'sb-admin-2/vendor/metisMenu/metisMenu.min.js'%}"></script>
  <!-- SB ADMIN (bootstrap theme) JS -->
  <script src="{% static 'sb-admin-2/dist/js/sb-admin-2.min.js'%}"></script>
  <!-- MAIN JS -->
  <script src="{%static 'js/main.js'%}" type="text/javascript"></script>
  {% block 'additional_js' %}
  {% endblock %}

</body>
</html>
