{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="ru">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="">
    <meta name="author" content="">
    <title>Внешняя параклиника - Авторизация</title>
    <link href="{% static 'bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap-theme.min.css'%}" rel="stylesheet">
    <!-- JQUERY UI CSS -->
    <link href="{% static 'jquery-ui-overcast/jquery-ui.min.css'%}" rel="stylesheet">
    <link href="{% static 'jquery-ui-overcast/jquery-ui.structure.min.css'%}" rel="stylesheet">
    <link href="{% static 'jquery-ui-overcast/jquery-ui.theme.min.css'%}" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="{% static 'sb-admin-2/vendor/metisMenu/metisMenu.min.css'%}" rel="stylesheet">
    <!-- SB ADMIN (bootstrap theme) CSS -->
    <link href="{% static 'sb-admin-2/dist/css/sb-admin-2.css'%}" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="{% static 'sb-admin-2/vendor/morrisjs/morris.css'%}" rel="stylesheet">
    <!-- FONT AWESOME CSS -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css'%}" rel="stylesheet" type="text/css">
    <!-- MAIN CSS -->
    <link href="{% static 'css/main.css'%}" rel="stylesheet">


  </head>
 
 <body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Авторизация</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" method="POST" action="{% url 'login' %}">
                            {% csrf_token %}
                            <fieldset>
                                <div class="form-group">
                                    {% if error_login %}
                                        <label>{{error_login}}</label>
                                    {% endif %}
                                    {% if error_access %}
                                        <label>{{error_access}}</label>
                                    {% endif %}
                                        {% if text_login %}
                                            <input type="text" name="login" class="form-control" placeholder="Имя пользователя" value="{{text_login}}" autofocus>
                                        {% else %}
                                            <input type="text" name="login" class="form-control" placeholder="Имя пользователя" autofocus>
                                        {% endif %}
                                </div>
                                <div class="form-group">
                                    {% if error_password %}
                                        <label>{{error_password}}</label>
                                    {% endif %}
                                    <input type="password" name="password" class="form-control" placeholder="Пароль">
                                </div>

                                <div class="checkbox m-b-20">
                                    <label>
                                        <input type="checkbox" name="remember"> Запомнить
                                    </label>
                                </div>

                                <input type="submit" class="btn btn-lg btn-success btn-block" value="Войти">
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/jquery.min.js'%}"></script>
    <!-- BOOTSTRAP JS -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
    <!-- JQUERY UI JS -->
    <script src="{% static 'js/jquery-ui.min.js'%}"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'sb-admin-2/vendor/metisMenu/metisMenu.min.js'%}"></script>
    <!-- SB ADMIN (bootstrap theme) JS -->
    <script src="{% static 'sb-admin-2/dist/js/sb-admin-2.min.js'%}"></script>
    <!-- MAIN JS -->
    <script src="{%static 'js/main.js'%}" type="text/javascript"></script>
</body>