{% extends 'base.html' %}
{% load static from staticfiles %}

{% block 'content' %}
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Профиль пользователя</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="glyphicon glyphicon-user"></i> Данные пользователя
        <div class="pull-right">
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
              Действия
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
              <li><a href="javascript://">Сменить пароль</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel-body widget-userinfo">
        данные
      </div>
    </div>
  </div>
</div>
{% endblock %}
